<div class="about" #element>
  <div class="container" [ngClass]="viewport && viewport.visible ? 'scale' : null">
    <img src="assets/handholding.png" alt="hand" class="left-hand"/>
    <h2 class="title">About Us</h2>
    <p>
      Need some help standing out and growing your business? At Blue Hands, we
      specialize in helping businesses attract new customers and to establish
      strong brand awareness. Our customized, performance-based marketing
      strategies are proven to grow and stimulate businesses of all shapes,
      sizes and niches.
    </p>
    <div class="btns">
      <app-btn text="READ MORE" bg="white" textColor="#3c5ef0" border="transparent"/>
      <app-btn text="CAREER" bg="transparent" border="white" textColor="white"/>
    </div>
    <img src="assets/handholding.png" alt="hand" class="right-hand"/>
  </div>
</div>
